@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cantarell:wght@700&display=swap);

@keyframes fadeIn {
    0% {
      opacity:0;
      margin-top: 10px;
    }
    100% {
      opacity:1;
    }
}
  
@-moz-keyframes fadeIn {
    0% {
      opacity:0;
      margin-top: 10px;
    }
    100% {
      opacity:1;
    }
}
  
@-webkit-keyframes fadeIn {
    0% {
      opacity:0;
      margin-top: 10px;
    }
    100% {
      opacity:1;
    }
}
  
@-o-keyframes fadeIn {
    0% {
      opacity:0;
      margin-top: 10px;
    }
    100% {
      opacity:1;
    }
}
  
@-ms-keyframes fadeIn {
    0% {
      opacity:0;
      margin-top: 10px;
    }
    100% {
      opacity:1;
    }
}

*
{
    scroll-behavior: smooth;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    background-color: #414145;
    z-index: 1;
}

#header
{
    background-color: #414145;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
header .home
{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .5s;
}

header af
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header af li
{
    list-style: none;
    margin-left: 20px;
}

header af li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: all .5s;
}

header af li a:hover,
header af li a.active
{
    background: white;
    color: #333;
}

body
{
    color: rgb(255, 255, 255);
    opacity: 1;
    font-family: "Montserrat", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #414145;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
} 

body::-webkit-scrollbar {
    display: none;
}

a
{
    text-decoration: none;
    color: white;
    transition: all .5s;
}

.titre
{
    text-align: center;
    font-size: xx-large;
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
    font-family: 'Cantarell', sans-serif;
    text-shadow: 2px 2px 10px black;
}

a:hover
{
    color:#c9c9ca;
    text-decoration: none;
    margin-left: 5px;
    transition: all .7s;
}


.first_para
{
    text-align: center;
    margin-left: 20%;
    margin-right:20%;
    font-size: medium;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    background-color:rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.384);
    transition: all .5s;
}

.first_para:hover
{
    cursor: pointer;
    background-color:rgba(115, 255, 0, 0.219);
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    transition:all .7s;

}
.im_vache
{
    position:absolute;
    margin-left: 100px;
    border: 5px solid #000000;
    border-radius: 30px 50px 30px 50px;
    width: 225px;
    height: 300px;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.384);
}

.titre_analyse {
    text-align: center;
    font-size: x-large;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    text-shadow: 2px 2px 10px black;
}

h4 .para_analyse {
    text-align: center;
    font-size: medium;   
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    margin-left: 17%;
    margin-right: 17%;
    background-color:rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.384);
    transition: all .5s;
}

h4 .para_analyse:hover {
    background-color:rgba(255, 0, 0, 0.08);
    border-radius: 50px;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    text-shadow: 2px 2px 10px black;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.384);
    cursor: pointer;
    transition: all .7s;
}

.form {
    text-align: center;
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
    background-color:rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.384);
    margin-left: 20%;
    margin-right: 20%;
    transition: all .5s;
}

section .square_point
{
    position: relative;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    list-style-type: square;
    display: block;
    margin-left: 500px;
    margin-right: 200px;
    text-align: justify;
    text-justify: inter-word;
    background-color:rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    padding: 50px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.384);
}

section .square_point .p1
{
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    list-style: none;
    cursor: pointer;
    transition: all .5s;
}

section .square_point .p1:hover 
{
    background-color:rgba(255, 115, 0, 0.329);
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    transition:all .7s;
}

section .square_point .p2
{
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
    list-style: none;
    cursor: pointer;
    transition: all .5s;
}

section .square_point .p2:hover 
{
    background-color:rgba(255, 17, 0, 0.329);
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    transition:all .7s;
}

section .square_point .p3
{
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    list-style: none;
    cursor: pointer;
    transition: all .5s;
}

section .square_point .p3:hover 
{
    background-color:rgba(179, 255, 0, 0.329);
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    transition:all .7s;
}

*
{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

img
{
    width: 75px;
    height: 75px;
    vertical-align: auto;
}

.footer .footer-content
{
    height: 0px;
    display: flex;
    width: 100%
}

.footer .footer-content .footer-section
{
    top: 0;
    flex: 1;
    padding: 10px;
    margin-left: 8%;
}

.footer .footer-content .footer-section .about
{
    margin-left: 100px;
}
.footer
{
    background-color: #303036;
    height: 250px;
    color: #d3d3d3;
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 15%;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    
}

.footer::before
{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    top: -150px;
    height: 150px;
    background: linear-gradient(to bottom, transparent, #303036);
    z-index: 1000;
}

.footer .footer-content .links ul a
{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: white;
    left: 20px;
    transition: all .3s;
}
.text_to_justify
{
    text-align: justify;
    text-justify: inter-words;
}
.footer .footer-content .links ul a:hover
{
    color:#c9c9ca;
    text-decoration: none;
    margin-left: 5px;
    transition: all 1s;
}

.footer .footer-bottom
{
    background-color: #303036;
    color: #686868;
    top: 230px;
    width: 100%;
    text-align: center;
    position: absolute;
    vertical-align: bottom;
}

/* code css pour le menu déroulant situé dans Analytics pour afficher l'un des 4 graphes*/
*{
    font-family:Avenir,sans-serif;
}

nav {
    width:auto;
    background-color:#44464B;
    position: sticky;
    top:0px;
}

nav ul {
    list-style-type: none;
}

nav ul li{
    width:25%;
    text-align:center;
    position:relative;
}

nav ul::after{
    content:"";
    display:table;
    clear:both;
}

nav a{
    display:flex;
    text-decoration:none;
    color:#333;
    border-bottom:2px solid transparent;
    opacity: 0.7;
    transition: all 1s;
}

nav a:hover{
    border-bottom:2px solid white;
    display: flex;
    opacity: 1;
    font-size: 105%;
    transition: all .5s;
}

.sous{
    display:none;
    box-shadow:0px 1px 2px #CCC;
    background-color:white;
    text-align: center;
    width: auto;
}

nav > ul li:hover .sous{
    display:block;
}

.sous li{
    float:none;
    width:auto;
    text-align:left;
}

.sous a{
    padding:10px;
    border-bottom:none;
}

.sous a:hover{
    border-bottom:none;
    background-color:RGBa(200,200,200,0.1);
    text-decoration: none;
}

.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

nav ul .deroulant .sous 
{
    background-color:#414145;
}

nav
{
    background-color:#414145;
    margin-left: 5%;
}

nav ul .deroulant a
{
    color: rgb(255, 255, 255);
    left: auto;
}

#para1, #para2, .texte, #para4, .colors {
    text-align: justify;
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
    background-color:rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    padding: 30px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.384);
    margin-left: 150px;
    margin-right: 150px;
    transition: all .5s;
}

#section2, #section_graph
{
    background-color:rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    transition: all .5s;
}
.show_graph{
    padding: 14px 40px;
    border-radius: 10px;
    transition: all .4s;
}

.show_graph:hover {
    font-size: 15px;
    color: white;
    background-color: #008109;
    border-radius: 10px;
    cursor: pointer;
    
    transition: all .7s;
}

#select2-familles-results, #select2-graphe-results, #select2-races-results {
    color: black;
    cursor: pointer;
    text-align: center;
}