{% extends "base.html" %}
{% block title %} 
La ferme des 3 chênes: Analytics 
{% endblock %}


{% block content %} 
    
    <div class="titre_analyse">
        Informations à remplir pour l'analyse
    </div>
    <br><br><br>
    <p class="para_analyse">
        Afin d'afficher un graphe représentant les informations que vous souhaitez, merci de remplir les informations ci-dessous. 
    </p>

    <br><br>
    <form action="{{ url_for('graph') }}" method="POST" class="form">
        <p>
        <label for="start">Date de début de l'analyse:</label>
        <input type="date" id="start" name="start" max="2020-12-31" min="1980-01-31"/>
        </p> <br>
        <p>
        <label for="end">Date de fin de l'analyse:</label>
        <input type="date" id="end" name="end" max="2020-12-31" min="1980-01-31"/> 
        </p>
        <br>
        <p>
        <label for="familles">Famille à choisir:</label>
        <select name="familles" id="familles">
            <option value="">--Famille à sélectionner--</option>
            <option value="Famille1">Famille 1</option>
            <option value="Famille2">Famille 2</option>
            <option value="Famille3">Famille 3</option>
        </select>
        </p>
        <br>
        <p>
        <label for="graphe">Graphe à afficher</label>
        <select name="graphe" id="graphe">
            <option value="">--Graphe à afficher--</option>
            <option value="moon">Pleine Lune</option>
            <option value="naissance">Vêlages</option>
            <option value="races">Distribution des races</option>
        </select>
        </p>
        <br>
        <input type="submit" value="Afficher le Graphe">
    </form>
    
    
{% endblock %}

