 <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script src="https://kit.fontawesome.com/740ac721d2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/style.css"> 
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>
      {% block title %} {% endblock %}
  </title>
</head>
<body>
  <header id="header">
    <a href="http://127.0.0.1:5000/home" class = "home" style="text-shadow: 2px 2px 10px black;">Home</a>
    <af>
      <li><a href="http://127.0.0.1:5000/analytics" class="active">Analytics</a> </li>
      <li><a href="#footer">Contacts</a> </li>
    </af>
    
  </header> 
  <br><br><br><br><br><br>

    {% block content %}
    
    {% endblock %}

    <footer>
      <br> <br>
    <div class="footer" id="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h1 class="logo-text"><span>Oak Analytics</span></h1><br>
              <p class="text_to_justify"> Voici notre site de l'analyse des données de la ferme des 3 chênes. Celui-ci propose une analyse par graphe des données de cette ferme.</p> 
              <br> 
            </div>
            <div class="footer-section links">
                <h2>
                    Autres Liens
                </h2> 
              <br>
              <ul>
                  <a href="http://www.lafermedestroischenes.be/">Lien vers la ferme des 3 chênes</a>
              </ul>
            </div>
            <div class="footer-section contact-form">
                <h2>
                    Contactez-Nous
                </h2> <br>
                <div class="contact">
                  <span><i class="fas fa-envelope"></i>&nbsp;<a href="mailto:arthur.deneyer@student.uclouvain.be">De Neyer Arthur</a> </span>
                  </div>
                  <br>
                  <div class="contact">
                      <span><i class="fas fa-envelope"></i>&nbsp;<a href="mailto:alexandru.doroiman@student.uclouvain.be">Doroiman Alexandru</a>  </span>
                  </div>
                  <br>
                  <div class="contact">
                      <span><i class="fas fa-envelope"></i>&nbsp;<a href="mailto:arthur.louette@student.uclouvain.be">Louette Arthur</a> </span>
                  </div>
                  <br>
                  <div class="contact">
                    <span><i class="fas fa-envelope"></i>&nbsp;<a href="mailto:noah.cordier@student.uclouvain.be">Cordier Noah</a> </span>
                  </div>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; Oak Analytics • Designed and Coded by Alexandru, Arthur D., Arthur L. and Noah 
        </div>
    </div>
  </footer>
  <script>
    $(document).ready(function () {
    //input défilant des familles
      $("select").select2();
});

    //Partie Sticky Header

    // Quand l'utilisateur scroll la page, la fonction s'active
    window.onscroll = function() {myFunction()};

    // Prend le header
    var header = document.getElementById("header");

    var sticky = header.offsetTop;

    // Ajoute la class Sticky lorsque le header n'est plus à sa place. 
    // Par après, la fonction "ignore" les attributs de sticky lorsqu'on ne scroll plus
    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
    </script> 
</body>

</html>