{% extends "base.html" %}
{% block title %}
Analytics Graph
{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" type="text/javascript" > </script> 



<div style="text-align: center;"> <!-- Premier Canvas: graphe en style line -->
    <canvas id="line" width="800" height="400" style="display: none;"></canvas> 
</div>

<div style="text-align: center;"> <!-- Deuxième Canvas: graphe en style bar -->
    <canvas id="bar" width="800" height="400" style="display: none;"></canvas>
</div>

<div style = "text-align: center;"> <!-- Troisième Canvas: graphe en style pie -->
    <canvas id ="pie" width="800" height="400" style="display: none;"></canvas>
</div>    

 <p id="para1" style="display: none;"> <!-- graphe montrant la pie -->
    Ce graphe représente les vêlages occurants en pleine lune ou non. En effet, il peut être interessant de savoir si la pleine lune influence les naissances. Certaines périodes peuvent n'avoir aucune pleine lune, il est donc possible que le graph affiche à 100% des naissances en "Autre lunes". Dans ce cas, nous avons {{ data[0] }} naissances en pleine lune et {{ data[1] }} naissances en Autres Lunes. Vous pouvez vous référer au code couleur pour vous rendre compte des naissances.  
</p>

<p id="para2" style="display: none;">
    Nunc maximus placerat tellus, ut aliquam ligula semper a. Phasellus rhoncus augue odio, vel venenatis erat viverra nec. Vivamus lectus sapien, ultricies vitae vestibulum ac, accumsan id mauris. Donec sed turpis diam. Fusce commodo, urna vitae volutpat sodales, enim justo egestas eros, in tincidunt erat massa a nisl. Duis et mauris malesuada sapien dignissim interdum. Nulla laoreet at lacus ut tempus. Proin interdum porta mauris at sagittis. Aliquam nec lectus viverra ligula semper placerat. Proin ac tincidunt urna. Sed diam sapien, vehicula ut maximus et, sagittis non ligula. Suspendisse feugiat augue sit amet lectus elementum volutpat. Pellentesque fermentum massa vel neque mollis, a hendrerit lorem posuere. Morbi sapien elit, euismod ac lobortis vitae, faucibus et velit. Sed congue porttitor faucibus. Nam sem odio, dictum a erat id, ornare consequat dolor.
</p>

<p id="para3" style="display: none;">
    Ce graphe représente le nombre de naissance sur une certaine période de temps. Dans ce cas-ci, cela se passe entre le {{ labels[0] }} et le {{ labels[-1] }}. Durant cette période, nous avons un total de {{ somme }} naissances . Il est interessant de voir que certains jours ont un plus grand nombre de naissances que d'autres. En effet, certains jours ne sont mêmes pas affichés alors que certains dans ce cas ci affiche jusqu'à {{ max }} naissances.  
</p>


<script>
    const ctx = document.getElementById('line').getContext('2d'); /* Premier Graphe: ligne */
    const line = new Chart(ctx, {
        type: ['line'],   // le type du graphique
        data: {        // les données
            labels: [],
            datasets: [{
                        borderColor: 'rgba(160, 167, 167, 1)',
                        label: 'Line Graphics ',
                        data: []
                    }]
            },
        options: {
            responsive: false }
            }
        );

    const ctx2 = document.getElementById('bar').getContext('2d'); /* Deuxième Graphe: bar */
    const bar = new Chart(ctx2, {
        type: ['bar'],   // le type du graphique
        data: {        // les données
            labels: [],
            datasets: [{
                        backgroundColor: 'rgba(240, 240, 240, 0.9)',
                        label: 'Bar Graphics',
                        data: []
                    }]
            },
        options: {
            responsive: false,
            scales: {
                yAxes : [{
                    display: true,
                    ticks: {
                        beginAtZero: true 
                    }
                }]
            }
            }
            }
        );

    const ctx1 = document.getElementById('pie').getContext('2d'); /* Troisième Graphe: pie */
    const pie = new Chart(ctx1, {
        type: ['pie'],   // le type du graphique
        data: {        // les données
            labels: [],
            datasets: [{
                        label: 'Votes ',
                        data: [],
                        backgroundColor: ['rgb(255, 99, 132)', 'rgb(54, 162, 235)', 'rgb(255, 205, 86)', 'rgb(35, 46, 46)', 'rgb(114, 145, 190)', 'rgb(90, 189, 45)', 'rgb(240, 200, 133)'] 
                    }]
            },
        options: {
            responsive: false,
            }
            }
        );    

    updateChart('{{ type }}', '{{ main_label }}', {{ labels | safe }} , {{ data }});


    function updateChart(type_chart, main_label,labels, data){ // cette fonction permet d'afficher un des trois graphes et d'afficher le parapgraphe correspondant.
        if (type_chart=='line') {
            show_para('para2');
            hide_para('para1', 'para3');
            hideChart("pie");
            hideChart("bar");
            showChart("line");
            line.data.labels = labels;
            line.data.datasets[0].data = data; // met à jour les données des graphes
            line.data.datasets[0].label = main_label;
            line.update();

        }
        if (type_chart=="pie") {
            show_para('para1');
            hide_para('para2', 'para3');
            hideChart("line");
            hideChart("bar");
            showChart("pie");
            pie.data.labels = labels;
            pie.data.datasets[0].data = data; // met à jour les données des graphes
            pie.data.datasets[0].label = main_label;
            pie.update();
        }
        
        if (type_chart=="bar") {
            show_para('para3'); 
            hide_para('para2', 'para1');
            line.update(); 
            pie.update();
            showChart("bar");
            bar.data.labels = labels;
            bar.data.datasets[0].data = data; // met à jour les données des graphes
            bar.data.datasets[0].label = main_label;
            bar.update();
        }

    }

    function hideChart(id) { // fonction pour cacher un graphe
        document.getElementById(id).style.display="none";
    }
    function showChart(id) { // fonction pour montrer un graphe
        document.getElementById(id).style.display="";
    }
    function show_para(id) { // fonction pour montrer un graphe
        document.getElementById(id).style.display="";

    }
    function hide_para(id_one, id_two) { // fonction pour cacher des paragraphes
        document.getElementById(id_one).style.display="none";
        document.getElementById(id_two).style.display="none";
    }

</script>

{% endblock %}